{% extends 'layout.tpl.html' %}

{% block content %}
  <h1>Pages</h1>

  {% if pages|length == 0 %}
    <p>No pages to show</p>
  {% else %}
    <ul>
      {% for page in pages %}
        <li>
          <a href="{{url_for('mainroutes.page', id=page.id)}}">Show</a> |
          <form style="display:inline;" method="POST" action="{{url_for('mainroutes.page', id=page.id)}}">
            <input type="submit" name="action" value="Delete">
          </form>
          <br>
          {{page.content|linkerise_or_show}}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Add a new page</h2>

  <form method="POST" action="/pages/">
    <textarea name="content" rows="10" cols="100"></textarea>
    <p><input type="submit" value="Save"></p>
  </form>

  <hr>

  <h1>Files</h1>

  {% if files|length == 0 %}
    <p>No files to show</p>
  {% else %}
    <ul>
      {% for file in files %}
        <li>
          {{file}}&nbsp;&nbsp;&nbsp;<a href="{{url_for('mainroutes.file', file_name=file)}}">Download</a> |
          <form style="display:inline;" method="POST" action="{{url_for('mainroutes.file', file_name=file)}}">
            <input type="submit" name="action" value="Delete">
          </form>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Upload a file</h2>

  <form method="POST" action="/files/" enctype="multipart/form-data">
    <p><input type="file" name="file_name"> <input type="submit" value="Upload"></p>
  </form>
{% endblock %}
